PORT=# insert your port number here
SERVER_NAME=# insert your server name here
DB_NAME=# insert your database name here
DB_USERNAME=# insert your database username here
DB_PASSWORD=# insert your database password here
JWT_SECRET=# insert your JWT secret here

EMAIL_USER=# insert your email here
EMAIL_PASSWORD=# insert your email APP password here

CLOUDINARY_CLOUD_NAME=# insert your Cloudinary cloud name here
CLOUDINARY_API_KEY=# insert your Cloudinary API key here
CLOUDINARY_API_SECRET=# insert your Cloudinary API secret here
GOOGLE_PLACES_API_KEY=# insert your Google Places API key here
ENABLE_AUTO_SYNC=true# put this to false if you want to disable auto sync of data from Google Places API